* {
  box-sizing: border-box;
  margin: 0 ;
  padding: 0 ;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#body {
  background-color: #F2E4E9;
}
#navBar {
  background-color: #592E36;
  height: 15vh;
}

#cartWidgetImg {
  height: 8vh;

}

#cartWidgetText {
  font-size: 2vh;
}
#navBarTitle {
  text-decoration: none ;
  color: #F2E4E9;
}
#itemPicture {
  height: 40vh;
  width: auto;
}
.ItemImg {
  height: 40vh;
  width: auto;
}